# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Python egg metadata
*.egg

# Logs
*.log

# Test coverage reports
htmlcov/
.coverage
.cache

# Other
*.sqlite3
*.db
*.bak
*.swp
*.swo